# ---> cpp_task
# По умолчанию игнорировать все файлы 
*

# Не игнорировать директории
!*/

# gitignore
!.gitignore

# Заголовочные файлы библиотеки
!Task[0-9]/*.h
# Файл с макросом API
!Task[0-9]/Task[0-9]Api.hpp
# Файлы исходного кода библиотеки
!Task[0-9]/*.cpp

# Тесты
!Task[0-9].Tests/*.cpp
# pch для VS
!Task[0-9].Tests/pch.h

# Задания в формате PDF
!Практическое задание [0-9].*

# Материалы к практическому заданию
!Материалы к практическому заданию [0-9].*

# Readme
!Readme.md

# drone правила
!.drone.yml

# CMakeLists
!CMakeLists.txt



